.home-container {
  margin-top: 1%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  overflow: auto;
  position: absolute;
  right: -10px;
  left: 17%;
}

.twitter-container {
  height: 100vh;
  overflow: scroll;
}

.twitter-widget-0 {
  height: 200px;
  overflow: scroll;
}

.patients {
  margin-top: 30px;
}

.patient {
  height: 20%;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 15px;
}

.patient-center-col {
  display: flex;
  align-items: center;
}

.patient-side-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 1px solid #cdcdcd;
}

.diagnosis-date-holder {
  text-align: center;
  border-left: 1px solid #cdcdcd;
  border-right: 0;
}
