.file-btn-container {
  text-align: right;
  margin-top: 5px;
}

.form-row-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.illnesses-container {
  margin-top: 20px;
}
