.symptoms {
  height: 100%;
  overflow-y: auto;
}

.symptom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.symptom-name {
  padding-left: 15px;
}

.symptom-illnesses {
  padding-left: 20px;
}
